.slider {
    .artist {
        background-image: url("/images/artist.png");
        background-repeat: no-repeat;
        width: 150px;
        height: 100px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        // margin-bottom: 25px;
        border-radius: 24px;
        background-position: center;
    }
}

