/** Colors */

/** Hamburger */

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 1;
}

.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #F2F2F2;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #F2F2F2;
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Vortex
 */

.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex .hamburger-inner::before,
.hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex.is-active .hamburger-inner::before,
.hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}

.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

/** Import theme styles */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/********************** Sam's reset **********************/

/*** box sizing border-box for all elements ***/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

textarea {
  resize: vertical;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik-Bold.eot");
  src: url("/fonts/Graphik-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Graphik-Bold.woff2") format("woff2"), url("/fonts/Graphik-Bold.woff") format("woff"), url("/fonts/Graphik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik-Regular.eot");
  src: url("/fonts/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Graphik-Regular.woff2") format("woff2"), url("/fonts/Graphik-Regular.woff") format("woff"), url("/fonts/Graphik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background-color: #F2F2F2;
  font-family: "Graphik";
  font-weight: normal;
}

.scroll-lock {
  overflow: hidden;
}

.active {
  display: block !important;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 36px;
  margin-bottom: 25px;
  font-weight: bold;
}

h1::after {
  content: ".";
  color: #F72806;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

.container {
  padding: 0 25px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.frontpage section {
  padding: 25px 0;
}

@media print, screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }

  .frontpage section {
    padding: 50px 0;
  }
}

.btn {
  background-color: #F72806;
  display: inline-block;
  color: #F2F2F2;
  padding: 10px 20px;
  border-radius: 24px;
  text-transform: uppercase;
}

/** Search form */

.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  background-color: black;
  color: white;
  padding-top: 75px;
  display: none;
}

.mobile-menu nav {
  margin-top: 60px;
}

.mobile-menu ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 75px;
}

.mobile-menu ul li {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.mobile-menu ul li::after {
  content: ".";
  color: #F72806;
}

.mobile-menu .socials {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
}

.mobile-menu .socials img {
  margin: 0 25px;
}

.home-nav {
  background-color: black;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.home-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-nav .container .brand {
  color: #F2F2F2;
  background-image: url("/images/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 40px;
  text-indent: -9999px;
}

.mobile-footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
}

.large-footer {
  background-color: black;
  padding: 50px 0;
}

.large-footer .container {
  display: flex;
  justify-content: space-between;
}

.large-footer .container ul {
  list-style: none;
  padding: 0;
  color: #F2F2F2;
}

.large-footer .container ul li {
  margin-bottom: 10px;
}

.large-footer .container ul li:first-of-type {
  font-weight: bold;
}

.large-footer .container .copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F2F2F2;
  align-self: center;
}

.large-footer .container .copy img {
  margin-bottom: 10px;
}

@media print, screen and (min-width: 768px) {
  .mobile-footer {
    display: none;
  }
}

.frontpage .hero {
  padding-top: 85px;
}

.frontpage .hero .container .mobile-title {
  margin-bottom: 0;
}

.frontpage .hero .container .large-title {
  display: none;
}

.frontpage .hero .container img {
  width: 100%;
  margin-bottom: 25px;
}

.frontpage .hero .container .text p {
  margin-bottom: 25px;
}

.frontpage .tutorial {
  background-color: black;
}

.frontpage .tutorial .container h1 {
  color: #F2F2F2;
}

.frontpage .tutorial .container .steps .hide {
  display: none;
}

.frontpage .tutorial .container .steps img {
  width: 100%;
}

.frontpage .business .container img {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.frontpage .business .container .text p {
  margin-bottom: 25px;
}

.frontpage .store {
  background-color: black;
}

.frontpage .store .container .text h1 {
  color: #F2F2F2;
}

.frontpage .store .container .text p {
  color: #F2F2F2;
}

.frontpage .store .container .text .download {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.frontpage .store .container .text .download img {
  width: 40%;
}

.frontpage .store .container .phone {
  display: none;
}

.frontpage .shows {
  background-color: #F72806;
}

.frontpage .shows .container h1::after {
  color: #F2F2F2;
}

.frontpage .shows .container .more {
  display: none;
}

.frontpage .shows .container .mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.frontpage .shows .container .mobile .artist {
  background-image: url("/images/artist.png");
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 24px;
  background-position: center 16%;
}

.frontpage .partners .container .partner-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media print, screen and (min-width: 768px) {
  .frontpage .hero {
    padding-top: 105px;
  }

  .frontpage .hero .container {
    display: flex;
    align-items: center;
  }

  .frontpage .hero .container .mobile-title {
    display: none;
  }

  .frontpage .hero .container img {
    width: 60%;
    margin-right: 25px;
  }

  .frontpage .hero .container .text .large-title {
    display: block;
  }

  .frontpage .tutorial .container .steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .frontpage .tutorial .container .steps img {
    width: 30%;
  }

  .frontpage .tutorial .container .steps .hide {
    display: block;
  }

  .frontpage .business {
    overflow: hidden;
  }

  .frontpage .business .container {
    display: flex;
    position: relative;
    align-items: center;
  }

  .frontpage .business .container img {
    position: relative;
    left: -25px;
    bottom: -25px;
    width: 50%;
    margin-bottom: 0px;
  }

  .frontpage .store .container {
    display: flex;
    align-items: flex-end;
  }

  .frontpage .store .container .phone {
    display: block;
    width: 50%;
    margin-left: 25px;
  }

  .frontpage .shows .container .more {
    display: flex;
  }

  .frontpage .partners .container .partner-logos img {
    width: 20%;
    max-width: 100px;
  }
}

