html, body {
    background-color: $white;
    font-family: 'Graphik';
    font-weight: normal;
}
p {
    font-size: 16px;
    line-height: 1.5;
}
h1 {
    font-size: 36px;
    margin-bottom: 25px;
    font-weight: bold;
    span {
        color: $red;
    }
}
.container {
    padding: 0 25px;
}

.frontpage {
    section {
        padding: 25px 0;
    }
}