.events-venue {
    padding: 50px 0;
    .container {
        .alert {
            margin-bottom: 25px;
        }
        .btn-center {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
        }
        .upcoming-event {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $black;
            padding-bottom: 25px;
            margin-bottom: 25px;
        }
    }
}