.mobile-footer {
    background-color: $black;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}

.large-footer {
    background-color: $black;
    padding: 50px 0;
    display: none;
    .container {
        display: flex;
        justify-content: space-around;
        ul {
            list-style: none;
            padding: 0;
            color: $white;
            li{
                margin-bottom: 10px;
                cursor: pointer;
                &:first-of-type {
                    font-weight: bold;
                    cursor: default;
                }
            }
        }
        .copy {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $white;
            align-self: flex-start;
            img {
                margin-top: 15px;
                margin-bottom: 10px;
                width: 35px;
            }
        }
    }   
}

@media print, screen and (min-width: 768px) {
    .mobile-footer {
        display: none;
    }
    .large-footer {
        display: block;
    }
}