.frontpage {
  .hero {
      padding-top: 85px;
      .container {
            .mobile-title {
              margin-bottom: 0;
          }
          .large-title {
              display: none;
          }
        img {
            width: 100%;
            margin-bottom: 25px;
        }
        .text {
            p {
                margin-bottom: 25px;
            }
        }
      } 
  }
  .tutorial {
      background-color: $black;
      .container {
          h1 {
              color: $white;
          }
          .steps {
            .hide {
                display: none;
            }
            img {
                width: 100%;
            }
          }  
      }
  }
  .business {
      .container {
        img {
            display: block;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
        }
        .text {
            p {
                margin-bottom: 25px;
            }
        }
      }
  }
  .store {
    background-color: $black;
    .container {
        .text {
            h1 {
                color: $white;
            }
            p {
                color: $white;
            }
            .download {
                margin-top: 25px;
                display: flex;
                justify-content: space-around;
                img {
                    width: 40%;
                }
            }
        }  
        .phone {
            display: none;
        }
    }
  }
    .shows {
        background-color: $red;
        .container {
            h1::after{
                color: $white;
            }
            .more {
                display: none;
            }
            .mobile {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .artist {
                    background-image: url("/images/artist.png");
                    width: 150px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 25px;
                    border-radius: 24px;
                    background-position: center 16%;
                }
            }
        }
    }
    .partners {
        .container {
            .partner-logos {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }  
}

@media print, screen and (min-width: 768px) {
    .frontpage {
        .hero {
            padding-top: 105px;
            .container {
                display: flex;
                align-items: center;
                .mobile-title {
                    display: none;
                }
                img {
                    width: 60%;
                    margin-right: 25px;
                }
                .text {
                    .large-title {
                        display: block;
                        // margin-bottom: 25px;
                    }
                }
            }
        }
        .tutorial {
            .container {
                .steps {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        width: 30%;
                    }
                    .hide {
                        display: block;
                    }
                }
            }
        }
        .business {
            overflow: hidden;
            .container {
                display: flex;
                position: relative;
                align-items: center;
              img {
                  position: relative;
                  left: -25px;
                  bottom: -25px;
                  width: 50%;
                  margin-bottom: 0px;
              }
            }
        }
        .store {
            .container {
                display: flex;
                align-items: flex-end;
                .phone {
                    display: block;
                    width: 50%;
                    margin-left: 25px;
                }
            }   
        }
        .shows {
            .container {
                .more {
                    display: flex;
                }
            }
        }
        .partners {
            .container {
                .partner-logos {
                   img {
                       width: 20%;
                       max-width: 100px;
                   }
                }
            }
        }  
    }
}