.frontpage {
  .hero {
      padding-top: 85px;
      .container {
          h1 {
              margin-bottom: 0;
          }
        img {
            width: 100%;
            margin-bottom: 25px;
        }
        .text {
            p {
                margin-bottom: 25px;
            }
        }
      } 
  }
  .tutorial {
      background-color: $black;
      .container {
          h1 {
              color: $white;
          }
          img {
              width: 100%;
          }
      }
  }
  .business {
    img {
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
    .text {
        p {
            margin-bottom: 25px;
        }
    }
  }
  .store {
    background-color: $black;
    h1 {
        color: $white;
    }
    p {
        color: $white;
    }
}
}