.home-nav {
    background-color: $black;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 99;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .brand {
            color: $white;
            background-image: url("/images/logo.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 60px;
            width: 35px;
            text-indent: -9999px;
            // cursor: pointer;
        }
        .large-nav {
            color: $white;
            list-style: none;
            padding: 0;
            margin: 0;
            display: none;
            .line {
                cursor: default;
            }
            li {
                font-weight: bold;
                margin-left: 25px;
                a{
                  position: relative;  
                  transition: all 0.3s ease;
                //   cursor: url("/images/bol.png"), auto;
                // &:hover:after {
                //     content: '';
                //     display: block;
                //     position: absolute;
                //     width: 30px;
                //     height: 30px;
                //     background-color: $red;
                //     border-radius: 100%;
                //     top: 50%;
                //     left: 50%;
                //     transform: translate(-50%, -50%);
                //     z-index: -1;
                // }
            }
            }
        }
    }
}

@media print, screen and (min-width: 1024px) {
    .home-nav {
        height: 75px;
        .container {
            .brand {
                height: 75px;
            }
            .large-nav {
                display: flex;
            }
            .hamburger {
                display: none;
            }
        }
    }
}