.login-venue {
    background-color: $black;
    padding: 50px 0;
    position: relative;
    .container {
        .info--large {
            display: none;
            img {
                width: 150px;
                margin-bottom: 50px;
            }
        }
        .info {
            margin-bottom: 25px;
            span {
                display: block;
                margin-top: 25px;
                a {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media print, screen and (min-width:768px) {
    .login-venue {
        padding: 0;
        display: flex;
        flex-direction: column;
        .container {
            display: flex;
            padding: 0;
            flex-grow: 1;
            position: relative;
            z-index: 1;
            .info--large {
                display: block;
                background-color: $black;
                color: $white;
                width: 50%;
                padding: 50px;
                margin-bottom: 0;
                display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
            }
            .login-form {
                width: 50%;
                padding: 50px;
                max-width: 350px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                h1 {
                    white-space: nowrap;
                    font-size: 50px;
                }
                .info--small {
                    display: none;
                }
                .options {
                    width: 100%;
                }
            }
        }
    }
}

@media print, screen and (min-width: 1440px) {
    .login-venue {
        .filler {
            background-color: $black;
            position: absolute;
            left: 0;
            width: 50%;
            height: 100%;
        }
    }
}