.main-app {
    .your-blips {
        .container {
            padding-left: 25px;
            padding-right: 25px;
            .filters {
                display: flex;
                flex-direction: column;
                .button-group {
                    margin-bottom: 25px;
                    font-size: 14px;
                    span {
                        position: relative;
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            background-color: $black;
                            bottom: -5px;
                        }
                    }
                    button {
                        text-transform: capitalize;
                    }
                    .emo {
                        background-image: url('/images/emotional_red.png');
                        background-position: center;
                        width: 30px;
                        height: 30px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        text-indent: 99999px;
                        filter: grayscale(1);
                        margin: 0 5px;
                        // &:active {
                        //     filter: grayscale(0);
                        // }
                    }
                    .hap {
                        background-image: url('/images/happy_red.png');
                    }
                    .ene {
                        background-image: url('/images/energetic_red.png');
                    }
                    .rel{
                        background-image: url('/images/relaxed_red.png');
                    }
                    .spe {
                        background-image: url('/images/speechless_red.png');
                    }
                    .is-checked {
                        filter: grayscale(0);
                        color: $red;
                    }
                }
            }
            .blips-container {
                display: grid;
                justify-items: center;
                margin-bottom: 25px;
                .blip {
                    background-image: url('/images/dua.png');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 250px;
                    height: 150px;
                    margin: 25px;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    border-radius: 25px;
                    .description {
                        font-size: 24px;
                        font-weight: bold;
                        text-align: center;
                        margin-bottom: 5px;
                    }
                    // .artist {
                    //     position: absolute;
                    //     right: 0;
                    //     bottom: 0;
                    // }
                    // .venuu
               }
            }
        }
    }
}

@media print, screen and  (min-width: 768px) {
    .main-app {
        .your-blips {
            .container {
                .filters {
                    flex-direction: row;
                    justify-content: space-between;
                }
                .blips-container {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }
            }
        }
    }
}


@media print, screen and  (min-width: 1024px) {
    .main-app {
        .your-blips {
            .container {
                .blips-container {
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                }
            }
        }
    }
}


@media print, screen and  (min-width: 1440px) {
    .main-app {
        .your-blips {
            .container {
                .filters {
                    align-items: center;
                    .filter-container {
                        display: flex;
                        .button-group {
                            margin: 50px;
                        }
                    }
                }
                .blips-container {
                    grid-template-columns: repeat(5, minmax(0, 1fr));
                }
            }
        }
    }
}